/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Styles du corps de la page */
body {
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff; /* Fond clair */
    color: #333;
}

/* En-tête */
header {
    padding: 20px;
    background-color: #ffffff; /* Fond blanc */
    color: #333; /* Texte sombre */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    text-decoration: none;
    color: #333; /* Texte sombre */
    font-size: 28px;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #6B67E7; /* Couleur du texte du lien */
    font-size: 19px;
}

nav ul li a:hover {
    color: #20196F; /* Couleur du texte du lien au survol */
}

/* Section principale (Accueil) */
#main {
    padding: 60px 0;
}

.container-accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container-accueil-droite {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.container-accueil-droite img {
    max-width: 100%;
    height: auto;
}

.container-accueil-gauche {
    max-width: 50%;
    margin-left: 250px;
}

.container-accueil-gauche h2 {
    font-size: 36px; 
    margin-bottom: 10px; 
}

.container-accueil-gauche p {
    font-size: 20px; 
    margin-bottom: 2px; 
}

.container-btn {
    margin-top: 25px;
}


/* Style de bouton */
.btn {
    display: inline-block;
    padding: 12px 30px;
    color: white;
    background-color: #6B67E7; /* Orange */
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.4s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #20196F; /* Orange plus foncé au survol */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

/* Media queries pour un design responsive */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .container-accueil {
        flex-direction: column;
        text-align: center;
    }

    .container-accueil-gauche {
        max-width: 100%;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
